<!--menu superior-->
{% extends 'core/base.html' %} 
{% load static %}
{% block title %}Portafolio{% endblock title %}
{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock background %}
{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Currículo</span>
{% endblock headers %}

{% block content %}
{% comment "query" %}{{projects}}{% endcomment %}
{% for clave in projects %}
	      <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{clave.image.url}}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{clave.title}}</h2>   
	          <p>{{clave.description}}</p>
	          
                {% if clave.URLField == null or clave.URLField == "" %}
                {% else %}
                    <p><a href="{{clave.URLField}}">Más información</a></p>
                {% endif %}

	      	</div>
	      </div>
{% endfor %}		  

{% endblock content%}
